#table-card {
    width: 1fr;
    padding: 1 2;
    background: #1c1f28;
    border: round #363c4c;
    height: auto;
}

#courses-table {
    width: 100%;
    height: auto;
}

#search {
    margin: 1;
    width: 100;
}

#empty {
    content-align: center middle;
    color: #b9bfcc;
    text-style: bold;
}
